    .application {
        position: relative;
        margin-top: 370px;
        &__wrapper {
            padding: 40px;
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -87%);
            height: 270px;
            width: 1180px;
            border-radius: 20px;
            background-color: #fff;
        }
        &_owl {
            position: absolute;
            left: -4%;
            top: 6%;
            width: 276px;

            img {
                width: 276px;
            }
        }
        &__message {
            margin-left: 200px;
            position: relative;
            &_description {
                padding: 22px;
                position: absolute;
                font-size: 24px;
                font-weight: 600;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 352px;
                p {
                    font-size: 16px;
                    font-weight: 600;
                    margin-top: 20px;
                }
            }
        }
        &__form {
            margin-left: 50px;
            gap: 20px;
            input {
                width: 440px;
                padding: 15px 19px;
                border-radius: 6px;
                background: rgba(0, 9, 60, 0.1);
                border: none;
                outline: none;
            }
            form > div {
                margin-top: 20px;
            }
            form > div input {
                width: 210px;
            }
            form > div input:not(:last-child) {
                margin-right: 15px;
            }
            .conf {
                display: flex;
                p {
                    font-size: 10px;
                    font-weight: 400;
                    color: rgb(79, 79, 79);
                    width: 210px;
                    margin-right: 20px;
                }
                input {
                    background-color: rgb(247, 148, 29);
                    color: #fff;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
            &_button {
            }
        }
        &_shadow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -87%);
            z-index: -1;
            height: 270px;
            width: 1180px;
            filter: blur(16px);
            /* градиент 1 */
            background: linear-gradient(90deg, rgb(247, 148, 29), rgb(39, 170, 225) 100%);
            opacity: 0.3;
        }
    }